:root {
  --mainColor: #1C2536;
  --textColor: #e9d9c5;
  --lightColor: #FFFFFF;
  --mainGold: #C5A363;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}
body{
  background-color: var(--lightColor);
}

::selection {
    background-color:  rgb(54, 75, 160 , 0.9);
    color: var(--lightColor);
}

.text-header {
  font-size: 49px;
}

.text-large {
  font-size: 38px;
}



