@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-xl sm:text-2xl md:text-4xl;
  }

  .heading-2 {
    @apply text-xl font-semibold md:text-2xl;
  }

  .paragraph {
    @apply leading-relaxed text-sm sm:text-base md:text-lg
  }

  .btn-boder-white {
    @apply px-6 py-3 border border-lightColor hover:bg-mainColor hover:text-lightColor transition duration-300 rounded-full
  }

  .btn-boder-blue {
    @apply px-6 py-3 border-2 border-mainColor text-mainColor hover:bg-mainColor hover:text-white hover:border-lightColor transition duration-300
  }
}

/* Hide horizontal scrollbar */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.backface-hidden {
  backface-visibility: hidden;
} */

